In [1]:

from src.data.dataset_reader import DatasetReader
from pathlib import Path
import pandas as pd
pd.set_option('display.max_columns', None)
%load_ext autoreload
%autoreload 2
# ignore warnings
import warnings
warnings.filterwarnings('ignore')
data_folder = Path("../data/raw").resolve()

amazon = DatasetReader(data_folder).get_data_csv('Amazon_Sale_Report.csv')

In [2]:
from src.data.feature_engineering import FeatureEngineeringProcess
fep = FeatureEngineeringProcess()

In [31]:
# Create a new feature called sales that is the  the count of "Amount" grouped by "SKU" in the amazon dataset
#amazon['sales'] = amazon.groupby('SKU')['Amount'].transform('count')
#amazon.drop(columns=[ 'Order ID', 'ASIN', 'Unnamed: 22', 'index'], inplace=True
amazon['Date'] = pd.to_datetime(amazon['Date'])
amazon['ship-postal-code'] = amazon['ship-postal-code'].astype('object')
amazon.rename(columns={'Amount': 'price'}, inplace=True)
amazon_beta =  amazon[['Order ID','Date', 'SKU', 'Qty', 'price']]

In [32]:
from src.data.eda import Eda
eda = Eda(    
)

eda.missing_values_table(amazon_beta)

The selected dataframe has 5 columns and 1 columns with missing values.

       Missing Values  % of Total Values
price            7795                6.0

In [7]:
#toy = amazon_beta.query('SKU == "SET389-KR-NP-S"').sort_values(by='Date', ascending=True)
#toy['sales'] = toy.groupby(['SKU', 'Date', 'price'])['Order ID'].transform('count')

In [33]:

# Create a column called "sales" that is the count of the "Order ID" grouped by "SKU" and "Date" and price in the amazon_beta dataset
amazon_beta['sales'] = amazon_beta.groupby(['SKU', 'Date', 'price'])['Order ID'].transform('count')

In [34]:
amazon_beta.sort_values(by=['SKU', 'Date'], ascending=True, inplace=True)

In [35]:

# drop Nan values
amazon_beta.dropna(inplace=True)

In [36]:
amazon_beta_fe1 = fep.price_sales_correlation_features_updated(amazon_beta, 10, [(-5.0, 1.0), (-3.0, 1.0), (-2.0, 1.0), (1.0, 1.0), (-1.0, 0.5), (-1.0, 0.33)])

In [29]:

amazon_beta_fe1.query('SKU == "SET389-KR-NP-S"').sort_values(by='Date', ascending=True).head()
# calculate average number of Date in each SKU
#amazon_beta_fe1.groupby('SKU')['Date'].nunique().mean()
# add a column called "days" that is the count of "Date" of each SKU
#amazon_beta_fe1['days'] = amazon_beta_fe1.groupby('SKU')['Date'].transform('nunique')
#amazon_beta_fe1.drop(columns=['days'], inplace=True)
eda.missing_values_table(amazon_beta_fe1)

The selected dataframe has 12 columns and 6 columns with missing values.

                  Missing Values  % of Total Values
f_corr_-5.0_1.0            56155               46.3
f_corr_-3.0_1.0            56155               46.3
f_corr_-2.0_1.0            56155               46.3
f_corr_-1.0_0.5            56155               46.3
f_corr_-1.0_0.33           56155               46.3
f_corr_1.0_1.0             42803               35.3

In [13]:
amazon_beta_fe2 = fep.normalize_features(amazon_beta_fe1, [5, 10, 15], 28)

In [14]:
#amazon_beta_fe2.query('SKU == "SET389-KR-NP-S"').sort_values(by='Date', ascending=True).head()

,Order ID,Date,SKU,Qty,price,sales,f_corr_-5.0_1.0,f_corr_-3.0_1.0,f_corr_-2.0_1.0,f_corr_1.0_1.0,f_corr_-1.0_0.5,f_corr_-1.0_0.33,normalized_avg_price_5_days,normalized_avg_sales_5_days,normalized_log_avg_price_5_days,normalized_log_avg_sales_5_days,normalized_std_price_5_days,normalized_std_sales_5_days,normalized_avg_price_10_days,normalized_avg_sales_10_days,normalized_log_avg_price_10_days,normalized_log_avg_sales_10_days,normalized_std_price_10_days,normalized_std_sales_10_days,normalized_avg_price_15_days,normalized_avg_sales_15_days,normalized_log_avg_price_15_days,normalized_log_avg_sales_15_days,normalized_std_price_15_days,normalized_std_sales_15_days
47784,406-4493775-5535509,2022-04-01,SET389-KR-NP-S,1,749.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41605,408-5859715-9071508,2022-04-05,SET389-KR-NP-S,1,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36996,402-3547090-0699503,2022-04-08,SET389-KR-NP-S,1,680.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18468,405-2959500-2916317,2022-04-19,SET389-KR-NP-S,1,680.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16932,406-8338408-6778764,2022-04-20,SET389-KR-NP-S,0,647.62,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.873303,0.823529,-0.135473,-0.194156,0.56303,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# check for infs
import numpy as np
amazon_beta_fe2[amazon_beta_fe2 == np.inf].count()

Order ID                            0
Date                                0
SKU                                 0
Qty                                 0
price                               0
sales                               0
f_corr_-5.0_1.0                     0
f_corr_-3.0_1.0                     0
f_corr_-2.0_1.0                     0
f_corr_1.0_1.0                      0
f_corr_-1.0_0.5                     0
f_corr_-1.0_0.33                    0
normalized_avg_price_5_days         0
normalized_avg_sales_5_days         0
normalized_log_avg_price_5_days     0
normalized_log_avg_sales_5_days     0
normalized_std_price_5_days         0
normalized_std_sales_5_days         0
normalized_avg_price_10_days        0
normalized_avg_sales_10_days        0
normalized_log_avg_price_10_days    0
normalized_log_avg_sales_10_days    0
normalized_std_price_10_days        0
normalized_std_sales_10_days        0
normalized_avg_price_15_days        0
normalized_avg_sales_15_days        0
normalized_log_avg_price_15_days    0
normalized_log_avg_sales_15_days    0
normalized_std_price_15_days        0
normalized_std_sales_15_days        0
dtype: int64

In [17]:
amazon_beta_fe3, insuficient_data = fep.filter_stability_periods(amazon_beta_fe2, 7, 0.04)

In [25]:
amazon_beta_fe3[['SKU','Date' ,'price', 'avg_price_last_7_days', 'price_variation']].query('SKU == "SET389-KR-NP-S"')

,SKU,Date,price,avg_price_last_7_days,price_variation
47784,SET389-KR-NP-S,2022-04-01,749.00,NaN,NaN
41605,SET389-KR-NP-S,2022-04-05,0.00,NaN,NaN
36996,SET389-KR-NP-S,2022-04-08,680.00,NaN,NaN
18468,SET389-KR-NP-S,2022-04-19,680.00,NaN,NaN
16932,SET389-KR-NP-S,2022-04-20,647.62,NaN,NaN
10192,SET389-KR-NP-S,2022-04-24,680.00,NaN,NaN
5555,SET389-KR-NP-S,2022-04-27,680.00,588.088571,0.156288
0,SET389-KR-NP-S,2022-04-30,647.62,573.605714,0.129033
79604,SET389-KR-NP-S,2022-05-07,629.00,663.517143,0.052021
113528,SET389-KR-NP-S,2022-06-11,617.14,639.182857,0.034486

In [24]:
insuficient_data[['SKU','Date' ,'price', 'avg_price_last_7_days', 'price_variation']].query('SKU == "SET389-KR-NP-S"')

,SKU,Date,price,avg_price_last_7_days,price_variation
47784,SET389-KR-NP-S,2022-04-01,749.00,NaN,NaN
41605,SET389-KR-NP-S,2022-04-05,0.00,NaN,NaN
36996,SET389-KR-NP-S,2022-04-08,680.00,NaN,NaN
18468,SET389-KR-NP-S,2022-04-19,680.00,NaN,NaN
16932,SET389-KR-NP-S,2022-04-20,647.62,NaN,NaN
10192,SET389-KR-NP-S,2022-04-24,680.00,NaN,NaN

In [ ]:
amazon_beta_fe3.shape

In [30]:

eda.missing_values_table(amazon_beta_fe3)

The selected dataframe has 32 columns and 26 columns with missing values.

                                  Missing Values  % of Total Values
f_corr_-5.0_1.0                            46095               82.2
f_corr_-2.0_1.0                            46095               82.2
f_corr_-1.0_0.5                            46095               82.2
f_corr_-1.0_0.33                           46095               82.2
f_corr_-3.0_1.0                            46095               82.2
normalized_log_avg_sales_15_days           41588               74.2
normalized_log_avg_price_15_days           41588               74.2
normalized_avg_sales_15_days               41588               74.2
normalized_avg_price_15_days               41588               74.2
normalized_avg_price_10_days               40264               71.8
normalized_log_avg_sales_10_days           40264               71.8
normalized_log_avg_price_10_days           40264               71.8
normalized_avg_sales_10_days               40264               71.8
normalized_std_price_15_days               39652               70.7
normalized_std_sales_15_days               39652               70.7
normalized_log_avg_sales_5_days            37136               66.2
normalized_log_avg_price_5_days            37136               66.2
normalized_avg_sales_5_days                37136               66.2
normalized_avg_price_5_days                37136               66.2
normalized_std_price_10_days               35892               64.0
normalized_std_sales_10_days               35892               64.0
f_corr_1.0_1.0                             35892               64.0
avg_price_last_7_days                      32438               57.9
price_variation                            32438               57.9
normalized_std_sales_5_days                23867               42.6
normalized_std_price_5_days                23867               42.6

In [28]:
amazon_beta_fe3.price.isna().sum()

0

In [ ]:
# drop rows where price is null
#amazon_beta_train = amazon_beta_fe3.dropna(subset=['price'])

In [ ]:
#amazon_beta_train.fillna(0, inplace=True)

In [ ]:
amazon_beta_train1= fep.datetime_transform(amazon_beta_train, 'Date',['day_of_the_year', 'month', 'day_of_the_week'])

In [ ]:
# Drop Order Id, price_variation, insufficient_data
amazon_beta_train1.drop(columns=['Order ID', 'price_variation', 'insufficient_data'], inplace=True)

In [ ]:
#amazon_beta_train1.head()
amazon_beta_train1.drop(columns=['Date_season'], inplace=True)

In [ ]:
from src.data.data_splitter import DataSplitter

splitter = DataSplitter(amazon_beta_train1, train_months=1, test_weeks=2)
train, test = splitter.split_data()

In [ ]:
train.shape, test.shape
# print min and max dates of train and test
train['Date'].min(), train['Date'].max(), test['Date'].min(), test['Date'].max()
# Min Date: 2022-03-31 00:00:00, Max Date: 2022-06-29 00:00:00, Total Months: 3

In [ ]:
# Drop Date column
train.drop(columns=['Date'], inplace=True)
test.drop(columns=['Date'], inplace=True)
# one hot encode Date_season
#train = pd.get_dummies(train, columns=['Date_season'])
#test = pd.get_dummies(test, columns=['Date_season'])

In [ ]:
# Clean memory usage and delete dataframes that are not needed
#import gc
#del amazon, amazon_beta, amazon_beta_fe1, amazon_beta_fe2, amazon_beta_fe3, amazon_beta_train, amazon_beta_train1
#gc.collect()

In [ ]:
# dump as pickel files train and test dataframes in the data/processed folder
train.to_pickle('../data/processed/train.pkl')
test.to_pickle('../data/processed/test.pkl')

In [ ]:
# load train and test pickle from the data/processed folder
train = pd.read_pickle('../data/processed/train.pkl')

In [ ]:
# load test pickle from the data/processed folder
test = pd.read_pickle('../data/processed/test.pkl')

In [ ]:
train.columns

In [ ]:
import psutil

# Get memory usage in bytes
memory_usage = psutil.virtual_memory()
total_memory = memory_usage.total
available_memory = memory_usage.available
used_memory = memory_usage.used
percent_memory_used = memory_usage.percent

# Convert memory values to human-readable format
total_memory_readable = psutil._common.bytes2human(total_memory)
available_memory_readable = psutil._common.bytes2human(available_memory)
used_memory_readable = psutil._common.bytes2human(used_memory)

# Print memory usage information
print(f"Total Memory: {total_memory_readable}")
print(f"Available Memory: {available_memory_readable}")
print(f"Used Memory: {used_memory_readable}")
print(f"Percent Memory Used: {percent_memory_used}%")

In [ ]:
may = 467
june = 467
july = 497
august = 498
september = 515
october = 500
november = 515
december = 523

# get total sum of sales for each month

total_sales = may + june + july + august + september + october + november + december

In [ ]:
import modal

stub = modal.Stub("example-get-started")
@stub.function()
def f():
    return "hello"

with stub.run():
    assert "hello" == f.call()  # remote call works ✔️
    f()  # raises error in notebook ⚠️

In [ ]:
#check version of pandas
pd.__version__

In [ ]:
train.shape, test.shape

In [ ]:
test.columns

In [ ]:
train.columns

In [ ]:
test.shape

In [ ]:
import pandas as pd
predicted_sales = pd.read_csv('../data/processed/predictions.csv')

In [ ]:

predicted_sales.rename(columns={'predicted_sales_xgboost': 'predicted_sales'}, inplace=True)

In [ ]:
predicted_sales.head()

In [ ]:
input_df = predicted_sales.copy()

In [ ]:
input_df = input_df.head(1)

In [ ]:
input_df

In [ ]:
from src.pricing.pricing_algorithm import grid_search_lambda
import numpy as np

# Function to find optimal price for a given SKU
def find_optimal_price(sku_row, c, s, P0):
    # Extracting SKU, price and predicted sales
    sku = sku_row['SKU']
    price = sku_row['price']
    predicted_sale = sku_row['predicted_sales']
    
    print(f'\nProcessing SKU: {sku}')
    print(f'Original Price: {price}, Predicted Sales: {predicted_sale}')
    
    # Call grid_search_lambda function to find optimal price for the current SKU
    prices = np.array([price])
    predicted_sales = np.array([predicted_sale])
    
    print(f'Starting grid search for SKU: {sku}')
    best_prices, best_lambdas = grid_search_lambda(P0, prices, predicted_sales, c, s)
    
    # Extract the optimal price
    optimal_price = best_prices[0]
    
    print(f'Optimal Price for SKU {sku}: {optimal_price}\n')
    
    # Return the optimal price
    return optimal_price

# Parameters (you should calibrate these values based on your business case)
c = 10
s = 2
P0 = 100

# Assuming that input_df is the DataFrame that contains your data with columns: 'SKU', 'price', 'predicted_sales'

# Applying the function to each row in the DataFrame
optimal_prices = input_df.apply(find_optimal_price, args=(c, s, P0), axis=1)

# Creating a new DataFrame with SKU and optimal_prices
result_df = pd.DataFrame({'SKU': input_df['SKU'], 'optimal_prices': optimal_prices})

# Display the resulting DataFrame
print('\nFinal Result:')
print(result_df)

In [ ]:
lambda_min=3
lambda_max=5
lambda_step=1
range(lambda_min, lambda_max + 1, lambda_step)

In [ ]:
import pandas as pd
predictions = pd.read_csv('../data/processed/predictions.csv')
optimal_prices = pd.read_csv('../data/processed/optimal_prices.csv')

In [ ]:
optimal_prices.tail(10)

In [ ]:
optimal_prices.optimal_prices.value_counts()

In [ ]:
print(optimal_prices.query('SKU == "SET389-KR-NP-S"').to_string(index=False))

In [ ]:
print(predictions.query('SKU == "SET389-KR-NP-S"').to_string(index=False))

In [ ]:
amazon.query('SKU == "SET389-KR-NP-S"').Amount.value_counts()