In [1]:
import pandas as pd
import numpy as np
def generate_synthetic_data(n=1000):


    # Set a seed for reproducibility
    np.random.seed(42)

    # Dates ranging over a year
    dates = pd.date_range(start='2022-01-01', periods=n)

    # Product categories
    categories = ['Electronics', 'Furniture', 'Grocery', 'Clothing']
    product_categories = np.random.choice(categories, n)

    # Products and SKUs
    products = [f'Product_{i}' for i in range(1, 51)]  # 50 products
    product_list = np.random.choice(products, n)
    SKUs = [f'SKU_{i}' for i in range(1, 51)]  # 50 SKUs
    sku_list = np.random.choice(SKUs, n)

    # Prices normally distributed and positive
    prices = np.abs(np.random.normal(loc=100, scale=20, size=n))

    # Quantity sold - we assume that it's a Poisson distribution
    quantity = np.random.poisson(lam=10, size=n)

    # Competitor's price - usually it would be around the actual product price
    competitor_prices = prices + np.random.normal(loc=0, scale=10, size=n)

    # Discounts
    discounts = np.random.choice([0, 5, 10, 15, 20], size=n)  # in percentage

    # Create a dataframe
    df = pd.DataFrame({
        'date': dates,
        'product': product_list,
        'SKU': sku_list,
        'category': product_categories,
        'price': prices,
        'quantity': quantity,
        'competitor_price': competitor_prices,
        'discount': discounts
    })

    # Black Friday dates
    df['black_friday_date'] = pd.to_datetime(['2022-11-25' if date.month >= 11 else '2023-11-24' for date in df['date']])
    

    #df.to_csv('synthetic_data.csv', index=False)
    print(f"Synthetic data of size {n} generated and saved to 'synthetic_data.csv'")

    return df

# Call the function with a custom size

In [2]:
df = generate_synthetic_data(n=5000)

Synthetic data of size 5000 generated and saved to 'synthetic_data.csv'

In [3]:
df.head()

,date,product,SKU,category,price,quantity,competitor_price,discount,black_friday_date
0,2022-01-01,Product_47,SKU_37,Grocery,132.432952,12,156.235766,20,2023-11-24
1,2022-01-02,Product_47,SKU_36,Clothing,132.682820,7,133.821708,15,2023-11-24
2,2022-01-03,Product_4,SKU_36,Electronics,98.879707,8,98.533180,10,2023-11-24
3,2022-01-04,Product_7,SKU_4,Grocery,105.060170,8,105.503424,20,2023-11-24
4,2022-01-05,Product_45,SKU_36,Grocery,87.767968,10,90.016462,5,2023-11-24

In [4]:
import sys
print(sys.path)

['/Users/servandodavidtorresgarcia/Servando/Relu/Relu/notebooks', '/Users/servandodavidtorresgarcia/miniconda3/envs/relu/lib/python38.zip', '/Users/servandodavidtorresgarcia/miniconda3/envs/relu/lib/python3.8', '/Users/servandodavidtorresgarcia/miniconda3/envs/relu/lib/python3.8/lib-dynload', '', '/Users/servandodavidtorresgarcia/miniconda3/envs/relu/lib/python3.8/site-packages']

In [5]:
from src.data.feature_engineering import FeatureEngineeringProcess

ModuleNotFoundError: No module named 'src'

In [6]:
import sys
sys.path.append('../src')

In [7]:
from data.feature_engineering import FeatureEngineeringProcess

In [14]:
#date_fe = FeatureEngineeringProcess.datetime_transform
feature_engineering = FeatureEngineeringProcess()
feature_engineering.datetime_transform(df, date_feature='date', features=['month', 'day', 'day_name', 'week', 'year', 'quarter', 'hour', 'minute', 'second'])

,date,product,SKU,category,price,quantity,competitor_price,discount,black_friday_date,date_month,date_day,date_day_name,date_week,date_year,date_quarter,date_hour,date_minute,date_second
0,2022-01-01,Product_47,SKU_37,Grocery,132.432952,12,156.235766,20,2023-11-24,1,1,Saturday,52,2022,1,0,0,0
1,2022-01-02,Product_47,SKU_36,Clothing,132.682820,7,133.821708,15,2023-11-24,1,2,Sunday,52,2022,1,0,0,0
2,2022-01-03,Product_4,SKU_36,Electronics,98.879707,8,98.533180,10,2023-11-24,1,3,Monday,1,2022,1,0,0,0
3,2022-01-04,Product_7,SKU_4,Grocery,105.060170,8,105.503424,20,2023-11-24,1,4,Tuesday,1,2022,1,0,0,0
4,2022-01-05,Product_45,SKU_36,Grocery,87.767968,10,90.016462,5,2023-11-24,1,5,Wednesday,1,2022,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2035-09-05,Product_5,SKU_37,Electronics,117.045794,9,99.922325,15,2023-11-24,9,5,Wednesday,36,2035,3,0,0,0
4996,2035-09-06,Product_22,SKU_25,Furniture,61.676712,7,67.620536,15,2023-11-24,9,6,Thursday,36,2035,3,0,0,0
4997,2035-09-07,Product_24,SKU_16,Grocery,79.409510,8,78.036233,15,2023-11-24,9,7,Friday,36,2035,3,0,0,0
4998,2035-09-08,Product_43,SKU_38,Furniture,102.742668,13,102.002191,5,2023-11-24,9,8,Saturday,36,2035,3,0,0,0
4999,2035-09-09,Product_45,SKU_43,Clothing,128.114373,11,137.002531,20,2023-11-24,9,9,Sunday,36,2035,3,0,0,0

In [13]:
df

,date,product,SKU,category,price,quantity,competitor_price,discount,black_friday_date
0,2022-01-01,Product_47,SKU_37,Grocery,132.432952,12,156.235766,20,2023-11-24
1,2022-01-02,Product_47,SKU_36,Clothing,132.682820,7,133.821708,15,2023-11-24
2,2022-01-03,Product_4,SKU_36,Electronics,98.879707,8,98.533180,10,2023-11-24
3,2022-01-04,Product_7,SKU_4,Grocery,105.060170,8,105.503424,20,2023-11-24
4,2022-01-05,Product_45,SKU_36,Grocery,87.767968,10,90.016462,5,2023-11-24
...,...,...,...,...,...,...,...,...,...
4995,2035-09-05,Product_5,SKU_37,Electronics,117.045794,9,99.922325,15,2023-11-24
4996,2035-09-06,Product_22,SKU_25,Furniture,61.676712,7,67.620536,15,2023-11-24
4997,2035-09-07,Product_24,SKU_16,Grocery,79.409510,8,78.036233,15,2023-11-24
4998,2035-09-08,Product_43,SKU_38,Furniture,102.742668,13,102.002191,5,2023-11-24
4999,2035-09-09,Product_45,SKU_43,Clothing,128.114373,11,137.002531,20,2023-11-24

In [12]:
date

TypeError: datetime_transform() missing 1 required positional argument: 'df'